html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  overflow: visible;
  height: 0;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  white-space: normal;
  max-width: 100%;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 20px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-moz-document url-prefix() {
  @media print {
    .v-application, .v-application--wrap {
      display: block
    }
  }
}

@-webkit-keyframes v-shake {
  59% {
    margin-left: 0
  }
  60%, 80% {
    margin-left: 2px
  }
  70%, 90% {
    margin-left: -2px
  }
}

@keyframes v-shake {
  59% {
    margin-left: 0
  }
  60%, 80% {
    margin-left: 2px
  }
  70%, 90% {
    margin-left: -2px
  }
}

@supports (-webkit-touch-callout:none) {
  body {
    cursor: pointer
  }
}

@-webkit-keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px
  }
  to {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -124px
  }
}

@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px
  }
  to {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -124px
  }
}

@-webkit-keyframes progress-circular-rotate {
  to {
    transform: rotate(1turn)
  }
}

@keyframes progress-circular-rotate {
  to {
    transform: rotate(1turn)
  }
}

@-moz-document url-prefix() {
  @media print {
    .v-main {
      display: block
    }
  }
}

@-webkit-keyframes indeterminate-ltr {
  0% {
    left: -90%;
    right: 100%
  }
  60% {
    left: -90%;
    right: 100%
  }
  to {
    left: 100%;
    right: -35%
  }
}

@keyframes indeterminate-ltr {
  0% {
    left: -90%;
    right: 100%
  }
  60% {
    left: -90%;
    right: 100%
  }
  to {
    left: 100%;
    right: -35%
  }
}

@-webkit-keyframes indeterminate-rtl {
  0% {
    left: 100%;
    right: -90%
  }
  60% {
    left: 100%;
    right: -90%
  }
  to {
    left: -35%;
    right: 100%
  }
}

@keyframes indeterminate-rtl {
  0% {
    left: 100%;
    right: -90%
  }
  60% {
    left: 100%;
    right: -90%
  }
  to {
    left: -35%;
    right: 100%
  }
}

@-webkit-keyframes indeterminate-short-ltr {
  0% {
    left: -200%;
    right: 100%
  }
  60% {
    left: 107%;
    right: -8%
  }
  to {
    left: 107%;
    right: -8%
  }
}

@keyframes indeterminate-short-ltr {
  0% {
    left: -200%;
    right: 100%
  }
  60% {
    left: 107%;
    right: -8%
  }
  to {
    left: 107%;
    right: -8%
  }
}

@-webkit-keyframes indeterminate-short-rtl {
  0% {
    left: 100%;
    right: -200%
  }
  60% {
    left: -8%;
    right: 107%
  }
  to {
    left: -8%;
    right: 107%
  }
}

@keyframes indeterminate-short-rtl {
  0% {
    left: 100%;
    right: -200%
  }
  60% {
    left: -8%;
    right: 107%
  }
  to {
    left: -8%;
    right: 107%
  }
}

@-webkit-keyframes query-ltr {
  0% {
    right: -90%;
    left: 100%
  }
  60% {
    right: -90%;
    left: 100%
  }
  to {
    right: 100%;
    left: -35%
  }
}

@keyframes query-ltr {
  0% {
    right: -90%;
    left: 100%
  }
  60% {
    right: -90%;
    left: 100%
  }
  to {
    right: 100%;
    left: -35%
  }
}

@-webkit-keyframes query-rtl {
  0% {
    right: 100%;
    left: -90%
  }
  60% {
    right: 100%;
    left: -90%
  }
  to {
    right: -35%;
    left: 100%
  }
}

@keyframes query-rtl {
  0% {
    right: 100%;
    left: -90%
  }
  60% {
    right: 100%;
    left: -90%
  }
  to {
    right: -35%;
    left: 100%
  }
}

@-webkit-keyframes query-short-ltr {
  0% {
    right: -200%;
    left: 100%
  }
  60% {
    right: 107%;
    left: -8%
  }
  to {
    right: 107%;
    left: -8%
  }
}

@keyframes query-short-ltr {
  0% {
    right: -200%;
    left: 100%
  }
  60% {
    right: 107%;
    left: -8%
  }
  to {
    right: 107%;
    left: -8%
  }
}

@-webkit-keyframes query-short-rtl {
  0% {
    right: 100%;
    left: -200%
  }
  60% {
    right: -8%;
    left: 107%
  }
  to {
    right: -8%;
    left: 107%
  }
}

@keyframes query-short-rtl {
  0% {
    right: 100%;
    left: -200%
  }
  60% {
    right: -8%;
    left: 107%
  }
  to {
    right: -8%;
    left: 107%
  }
}

@-webkit-keyframes stream-ltr {
  to {
    transform: translateX(-8px)
  }
}

@keyframes stream-ltr {
  to {
    transform: translateX(-8px)
  }
}

@-webkit-keyframes stream-rtl {
  to {
    transform: translateX(8px)
  }
}

@keyframes stream-rtl {
  to {
    transform: translateX(8px)
  }
}

/* 3aa8fd0.css */
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1785px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: -12px;
}

.row + .row {
  margin-top: 12px;
}

.v-tooltip {
  display: none;
}

/* 52ed4ff.css */
.theme--dark.v-application {
  background: #121212;
  color: #fff;
}

.v-application {
  display: flex;
  position: relative;
}

.v-application a {
  cursor: pointer;
}

.v-application--wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

@media print {
  .v-application, .v-application--wrap {
    display: block;
  }
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: #272727;
}

.v-sheet.v-app-bar.v-toolbar {
  border-radius: 0;
}

.v-app-bar:not([data-booted=true]) {
  transition: none !important;
}

.v-app-bar.v-app-bar--fixed {
  position: fixed;
  top: 0;
  z-index: 5;
}

.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll.v-app-bar--is-scrolled .v-toolbar__title {
  padding-top: 9px;
}

.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll.v-app-bar--is-scrolled:not(.v-app-bar--bottom) .v-toolbar__title {
  padding-bottom: 9px;
}

.v-app-bar.v-app-bar--shrink-on-scroll .v-toolbar__title {
  font-size: inherit;
}

.theme--dark.v-toolbar.v-sheet {
  background-color: #272727;
}

.v-sheet.v-toolbar {
  border-radius: 0;
}

.v-toolbar {
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  transition: transform .2s cubic-bezier(.4, 0, .2, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), left .2s cubic-bezier(.4, 0, .2, 1), right .2s cubic-bezier(.4, 0, .2, 1), box-shadow .28s cubic-bezier(.4, 0, .2, 1), max-width .25s cubic-bezier(.4, 0, .2, 1), width .25s cubic-bezier(.4, 0, .2, 1);
  position: relative;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.v-toolbar .v-input {
  padding-top: 0;
  margin-top: 0;
}

.v-toolbar__content {
  padding: 4px 16px;
}

.v-toolbar__content .v-btn.v-btn--icon.v-size--default, .v-toolbar__extension .v-btn.v-btn--icon.v-size--default {
  height: 48px;
  width: 48px;
}

.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child, .v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:first-child {
  margin-left: -12px;
}

.v-application--is-rtl .v-toolbar__content > .v-btn.v-btn--icon:first-child, .v-application--is-rtl .v-toolbar__extension > .v-btn.v-btn--icon:first-child {
  margin-right: -12px;
}

.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child + .v-toolbar__title, .v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:first-child + .v-toolbar__title {
  padding-left: 20px;
}

.v-application--is-rtl .v-toolbar__content > .v-btn.v-btn--icon:first-child + .v-toolbar__title, .v-application--is-rtl .v-toolbar__extension > .v-btn.v-btn--icon:first-child + .v-toolbar__title {
  padding-right: 20px;
}

.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:last-child, .v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:last-child {
  margin-right: -12px;
}

.v-application--is-rtl .v-toolbar__content > .v-btn.v-btn--icon:last-child, .v-application--is-rtl .v-toolbar__extension > .v-btn.v-btn--icon:last-child {
  margin-left: -12px;
}

.v-toolbar__content {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 0;
}

.v-toolbar__items > .v-btn {
  border-radius: 0;
  height: 100% !important;
  max-height: none;
}

.v-toolbar__title {
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-toolbar.v-toolbar--collapse .v-toolbar__title {
  white-space: nowrap;
}

.v-toolbar.v-toolbar--collapsed .v-toolbar__title {
  display: none;
}

.v-toolbar--dense .v-toolbar__content {
  padding-top: 0;
  padding-bottom: 0;
}

.v-toolbar--prominent .v-toolbar__content {
  align-items: flex-start;
}

.v-toolbar--prominent .v-toolbar__title {
  font-size: 1.5rem;
  padding-top: 6px;
}

.v-toolbar--prominent:not(.v-toolbar--bottom) .v-toolbar__title {
  align-self: flex-end;
  padding-bottom: 6px;
  padding-top: 0;
}

.theme--dark.v-sheet {
  background-color: #1e1e1e;
  border-color: #1e1e1e;
  color: #fff;
}

.v-sheet {
  border-radius: 0;
}

.v-application .grey--text {
  color: #9e9e9e !important;
  caret-color: #9e9e9e !important;
}

.v-application .grey--text.text--darken-1 {
  color: #757575 !important;
  caret-color: #757575 !important;
}

.v-application code, .v-application kbd {
  border-radius: 3px;
  font-size: 85%;
  font-weight: 400;
}

.v-application code {
  padding: .2em .4em;
}

.v-application kbd {
  padding: .2em .4rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.theme--dark.v-application code {
  background-color: hsla(0, 0%, 100%, .1);
  color: currentColor;
}

.theme--dark.v-application kbd {
  background: #212529;
  color: #fff;
}

.v-application {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.v-application ::-ms-clear, .v-application ::-ms-reveal {
  display: none;
}

.v-application ol, .v-application ul {
  padding-left: 24px;
}

.v-application .title {
  line-height: 2rem;
  font-family: Roboto, sans-serif !important;
}

.v-application .title {
  font-size: 1.25rem !important;
  font-weight: 500;
  letter-spacing: .0125em !important;
}

.v-application p {
  margin-bottom: 16px;
}

.v-application .justify-center {
  justify-content: center !important;
}

.v-application .align-center {
  align-items: center !important;
}

.v-application .mx-3 {
  margin-right: 12px !important;
  margin-left: 12px !important;
}

.v-application .mt-3 {
  margin-top: 12px !important;
}

.v-application .mr-5 {
  margin-right: 20px !important;
}

.v-application .text-uppercase {
  text-transform: uppercase !important;
}

.theme--light.v-btn.v-btn--disabled .v-icon {
  color: rgba(0, 0, 0, .26) !important;
}

.theme--dark.v-btn {
  color: #fff;
}

.theme--dark.v-btn.v-btn--disabled .v-icon {
  color: hsla(0, 0%, 100%, .3) !important;
}

.theme--dark.v-btn.v-btn--icon {
  color: #fff;
}

.theme--dark.v-btn:hover:before {
  opacity: .08;
}

.theme--dark.v-btn:focus:before {
  opacity: .24;
}

.v-btn {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: .0892857143em;
  justify-content: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: .0892857143em;
  text-transform: uppercase;
  transition-duration: .28s;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.v-btn.v-size--default, .v-btn.v-size--large {
  font-size: .875rem;
}

.v-btn:before {
  background-color: currentColor;
  border-radius: inherit;
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
}

.v-btn > .v-btn__content .v-icon {
  color: inherit;
}

.v-btn__content {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  transition: inherit;
  transition-property: opacity;
}

.v-btn--icon {
  min-height: 0;
  min-width: 0;
  padding: 0;
}

.v-btn--fab.v-size--x-small .v-icon, .v-btn--icon.v-size--x-small .v-icon {
  height: 18px;
  font-size: 18px;
  width: 18px;
}

.v-btn--fab.v-size--default .v-icon, .v-btn--fab.v-size--small .v-icon, .v-btn--icon.v-size--default .v-icon, .v-btn--icon.v-size--small .v-icon {
  height: 24px;
  font-size: 24px;
  width: 24px;
}

.v-btn--fab.v-size--large .v-icon, .v-btn--icon.v-size--large .v-icon {
  height: 28px;
  font-size: 28px;
  width: 28px;
}

.v-btn--fab.v-size--x-large .v-icon, .v-btn--icon.v-size--x-large .v-icon {
  height: 32px;
  font-size: 32px;
  width: 32px;
}

.v-btn--icon.v-size--default {
  height: 36px;
  width: 36px;
}

.v-btn--icon.v-size--large {
  height: 44px;
  width: 44px;
}

.v-btn--loading .v-btn__content {
  opacity: 0;
}

.v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content {
  opacity: .62;
}

.v-btn--round {
  border-radius: 50%;
}

.theme--dark.v-icon {
  color: #fff;
}

.theme--dark.v-icon:focus:after {
  opacity: .24;
}

.v-icon.v-icon {
  align-items: center;
  display: inline-flex;
  font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  transition: .3s cubic-bezier(.25, .8, .5, 1), visibility 0s;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-icon.v-icon:after {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.3);
  width: 100%;
  transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.container.fill-height > .row {
  flex: 1 1 100%;
  max-width: calc(100% + 24px);
}

.container.fill-height > .layout {
  height: 100%;
  flex: 1 1 auto;
}

.container.grid-list-xs .layout .flex {
  padding: 1px;
}

.container.grid-list-xs .layout:only-child {
  margin: -1px;
}

.container.grid-list-xs .layout:not(:only-child) {
  margin: auto -1px;
}

.container.grid-list-xs :not(:only-child) .layout:first-child {
  margin-top: -1px;
}

.container.grid-list-xs :not(:only-child) .layout:last-child {
  margin-bottom: -1px;
}

.container.grid-list-sm .layout .flex {
  padding: 2px;
}

.container.grid-list-sm .layout:only-child {
  margin: -2px;
}

.container.grid-list-sm .layout:not(:only-child) {
  margin: auto -2px;
}

.container.grid-list-sm :not(:only-child) .layout:first-child {
  margin-top: -2px;
}

.container.grid-list-sm :not(:only-child) .layout:last-child {
  margin-bottom: -2px;
}

.container.grid-list-md .layout .flex {
  padding: 4px;
}

.container.grid-list-md .layout:only-child {
  margin: -4px;
}

.container.grid-list-md .layout:not(:only-child) {
  margin: auto -4px;
}

.container.grid-list-md :not(:only-child) .layout:first-child {
  margin-top: -4px;
}

.container.grid-list-md :not(:only-child) .layout:last-child {
  margin-bottom: -4px;
}

.container.grid-list-lg .layout .flex {
  padding: 8px;
}

.container.grid-list-lg .layout:only-child {
  margin: -8px;
}

.container.grid-list-lg .layout:not(:only-child) {
  margin: auto -8px;
}

.container.grid-list-lg :not(:only-child) .layout:first-child {
  margin-top: -8px;
}

.container.grid-list-lg :not(:only-child) .layout:last-child {
  margin-bottom: -8px;
}

.container.grid-list-xl .layout .flex {
  padding: 12px;
}

.container.grid-list-xl .layout:only-child {
  margin: -12px;
}

.container.grid-list-xl .layout:not(:only-child) {
  margin: auto -12px;
}

.container.grid-list-xl :not(:only-child) .layout:first-child {
  margin-top: -12px;
}

.container.grid-list-xl :not(:only-child) .layout:last-child {
  margin-bottom: -12px;
}

.layout {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}

.layout.column > .flex {
  max-width: 100%;
}

.flex {
  flex: 1 1 auto;
  max-width: 100%;
}

.spacer {
  flex-grow: 1 !important;
}

.shrink {
  flex-grow: 0 !important;
  flex-shrink: 1 !important;
}

.fill-height {
  height: 100%;
}

.v-list.accent > .v-list-item, .v-list.error > .v-list-item, .v-list.info > .v-list-item, .v-list.primary > .v-list-item, .v-list.secondary > .v-list-item, .v-list.success > .v-list-item, .v-list.warning > .v-list-item {
  color: #fff;
}

.theme--dark.v-list {
  background: #1e1e1e;
  color: #fff;
}

.v-sheet.v-list {
  border-radius: 0;
}

.v-list {
  display: block;
  padding: 8px 0;
  position: static;
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}

.v-list--flat .v-list-item:before {
  display: none;
}

.v-list--dense .v-subheader {
  font-size: .75rem;
  height: 40px;
  padding: 0 8px;
}

.v-list--nav .v-list-item:not(:last-child):not(:only-child), .v-list--rounded .v-list-item:not(:last-child):not(:only-child) {
  margin-bottom: 8px;
}

.v-list--nav.v-list--dense .v-list-item:not(:last-child):not(:only-child), .v-list--rounded.v-list--dense .v-list-item:not(:last-child):not(:only-child) {
  margin-bottom: 4px;
}

.v-list--nav .v-list-item {
  padding: 0 8px;
}

.v-list--nav .v-list-item, .v-list--nav .v-list-item:before {
  border-radius: 4px;
}

.v-application--is-ltr .v-list.v-sheet--shaped .v-list-item, .v-application--is-ltr .v-list.v-sheet--shaped .v-list-item:before {
  border-bottom-right-radius: 32px !important;
  border-top-right-radius: 32px !important;
}

.v-application--is-rtl .v-list.v-sheet--shaped .v-list-item, .v-application--is-rtl .v-list.v-sheet--shaped .v-list-item:before {
  border-bottom-left-radius: 32px !important;
  border-top-left-radius: 32px !important;
}

.v-application--is-ltr .v-list.v-sheet--shaped.v-list--two-line .v-list-item, .v-application--is-ltr .v-list.v-sheet--shaped.v-list--two-line .v-list-item:before {
  border-bottom-right-radius: 42.6666666667px !important;
  border-top-right-radius: 42.6666666667px !important;
}

.v-application--is-rtl .v-list.v-sheet--shaped.v-list--two-line .v-list-item, .v-application--is-rtl .v-list.v-sheet--shaped.v-list--two-line .v-list-item:before {
  border-bottom-left-radius: 42.6666666667px !important;
  border-top-left-radius: 42.6666666667px !important;
}

.v-application--is-ltr .v-list.v-sheet--shaped.v-list--three-line .v-list-item, .v-application--is-ltr .v-list.v-sheet--shaped.v-list--three-line .v-list-item:before {
  border-bottom-right-radius: 58.6666666667px !important;
  border-top-right-radius: 58.6666666667px !important;
}

.v-application--is-rtl .v-list.v-sheet--shaped.v-list--three-line .v-list-item, .v-application--is-rtl .v-list.v-sheet--shaped.v-list--three-line .v-list-item:before {
  border-bottom-left-radius: 58.6666666667px !important;
  border-top-left-radius: 58.6666666667px !important;
}

.v-list--rounded .v-list-item, .v-list--rounded .v-list-item:before {
  border-radius: 32px !important;
}

.v-list--rounded.v-list--two-line .v-list-item, .v-list--rounded.v-list--two-line .v-list-item:before {
  border-radius: 42.6666666667px !important;
}

.v-list--rounded.v-list--three-line .v-list-item, .v-list--rounded.v-list--three-line .v-list-item:before {
  border-radius: 58.6666666667px !important;
}

.theme--dark.v-list-item:hover:before {
  opacity: .08;
}

.theme--dark.v-list-item:focus:before {
  opacity: .24;
}

.v-list-item {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 48px;
  outline: none;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
}

.v-list-item:after {
  content: "";
  min-height: inherit;
  font-size: 0;
}

.v-list-item__action {
  align-self: center;
  margin: 12px 0;
}

.v-list-item__action .v-input, .v-list-item__action .v-input__control, .v-list-item__action .v-input__slot {
  margin: 0 !important;
}

.v-list-item__action .v-input {
  padding: 0;
}

.v-list-item__avatar {
  align-self: center;
  justify-content: flex-start;
}

.v-list-item__avatar {
  margin-bottom: 8px;
  margin-top: 8px;
}

.v-list-item__content {
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  overflow: hidden;
  padding: 12px 0;
}

.v-list-item__content > * {
  line-height: 1.1;
  flex: 1 0 100%;
}

.v-list-item__content > :not(:last-child) {
  margin-bottom: 2px;
}

.v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child) {
  margin-left: 16px;
}

.v-application--is-ltr .v-list-item__avatar:first-child, .v-application--is-rtl .v-list-item__action:last-of-type:not(:only-child), .v-application--is-rtl .v-list-item__avatar:last-of-type:not(:only-child) {
  margin-right: 16px;
}

.v-application--is-rtl .v-list-item__avatar:first-child {
  margin-left: 16px;
}

.v-application--is-ltr .v-list-item__action:first-child {
  margin-right: 32px;
}

.v-application--is-rtl .v-list-item__action:first-child {
  margin-left: 32px;
}

.v-list-item__action, .v-list-item__avatar {
  display: inline-flex;
  min-width: 24px;
}

.v-list-item .v-list-item__title {
  line-height: 1.2;
}

.v-list-item__title {
  flex: 1 1 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-list-item__title {
  align-self: center;
  font-size: 1rem;
}

.v-list--dense .v-list-item {
  min-height: 40px;
}

.v-list--dense .v-list-item .v-list-item__content, .v-list-item--dense .v-list-item__content {
  padding: 8px 0;
}

.v-list--dense .v-list-item .v-list-item__title, .v-list-item--dense .v-list-item__title {
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
}

.v-list-item--link {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-list-item--link:before {
  background-color: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
}

.v-list .v-list-item--active .v-icon {
  color: inherit;
}

.v-list--two-line .v-list-item {
  min-height: 64px;
}

.v-list--three-line .v-list-item {
  min-height: 88px;
}

.v-list--three-line .v-list-item .v-list-item__action, .v-list--three-line .v-list-item .v-list-item__avatar, .v-list-item--three-line .v-list-item__action, .v-list-item--three-line .v-list-item__avatar {
  align-self: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}

.v-list--three-line .v-list-item .v-list-item__content, .v-list-item--three-line .v-list-item__content {
  align-self: stretch;
}

.v-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  line-height: normal;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.v-avatar .v-icon, .v-avatar img, .v-avatar svg {
  border-radius: inherit;
  display: inline-flex;
  height: inherit;
  width: inherit;
}

.v-list-group__items .v-list-item {
  overflow: hidden;
}

.v-list-group--active > .v-list-group__header.v-list-group__header--sub-group > .v-list-group__header__prepend-icon .v-icon, .v-list-group--active > .v-list-group__header > .v-list-group__header__append-icon .v-icon {
  transform: rotate(-180deg);
}

.v-list-group--active > .v-list-group__header .v-list-group__header__prepend-icon .v-icon, .v-list-group--active > .v-list-group__header .v-list-item, .v-list-group--active > .v-list-group__header .v-list-item__content {
  color: inherit;
}

.v-application--is-ltr .v-list-group--sub-group .v-list-item__action:first-child, .v-application--is-ltr .v-list-group--sub-group .v-list-item__avatar:first-child {
  margin-right: 16px;
}

.v-application--is-rtl .v-list-group--sub-group .v-list-item__action:first-child, .v-application--is-rtl .v-list-group--sub-group .v-list-item__avatar:first-child {
  margin-left: 16px;
}

.v-application--is-ltr .v-list-group--sub-group .v-list-group__items .v-list-item {
  padding-left: 40px;
}

.v-application--is-rtl .v-list-group--sub-group .v-list-group__items .v-list-item {
  padding-right: 40px;
}

.v-list-group--sub-group.v-list-group--active .v-list-item__icon.v-list-group__header__prepend-icon .v-icon {
  transform: rotate(-180deg);
}

.v-application--is-ltr .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 72px;
}

.v-application--is-rtl .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-right: 72px;
}

.v-application--is-ltr .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
  padding-left: 88px;
}

.v-application--is-rtl .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
  padding-right: 88px;
}

.v-application--is-ltr .v-list--dense.v-list--nav .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 64px;
}

.v-application--is-rtl .v-list--dense.v-list--nav .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-right: 64px;
}

.v-application--is-ltr .v-list--dense.v-list--nav .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
  padding-left: 80px;
}

.v-application--is-rtl .v-list--dense.v-list--nav .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > .v-list-item {
  padding-right: 80px;
}

.v-main {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  transition: .2s cubic-bezier(.4, 0, .2, 1);
}

.v-main:not([data-booted=true]) {
  transition: none !important;
}

.v-main__wrap {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}

@media print {
  .v-main {
    display: block;
  }
}

.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  background-color: rgba(0, 0, 0, .12);
}

.theme--dark.v-navigation-drawer {
  background-color: #363636;
}

.theme--dark.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  background-color: hsla(0, 0%, 100%, .12);
}

.v-navigation-drawer {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: auto;
  top: 0;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: transform, visibility, width;
}

.v-navigation-drawer:not([data-booted=true]) {
  transition: none !important;
}

.v-navigation-drawer__border {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
}

.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.v-navigation-drawer--right > .v-navigation-drawer__border {
  right: auto;
  left: 0;
}

.v-navigation-drawer--fixed {
  z-index: 6;
}

.v-navigation-drawer--fixed {
  position: fixed;
}

.v-navigation-drawer--mini-variant .v-list-item > :first-child {
  margin-left: 0;
  margin-right: 0;
}

.v-navigation-drawer--mini-variant .v-list-item > :not(:first-child) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  display: inline;
  display: initial;
}

.v-navigation-drawer--mini-variant.v-navigation-drawer--custom-mini-variant .v-list-item {
  justify-content: center;
}

.v-navigation-drawer--close {
  visibility: hidden;
}

.theme--dark.v-subheader {
  color: hsla(0, 0%, 100%, .7);
}

.v-subheader {
  align-items: center;
  display: flex;
  height: 48px;
  font-size: .875rem;
  font-weight: 400;
  padding: 0 16px;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: rgba(0, 0, 0, .42);
}

.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
  border-color: rgba(0, 0, 0, .87);
}

.theme--light.v-text-field.v-input--is-disabled .v-input__slot:before {
  -o-border-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .38), rgba(0, 0, 0, .38) 2px, transparent 0, transparent 4px) 1 repeat;
  border-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .38), rgba(0, 0, 0, .38) 2px, transparent 0, transparent 4px) 1 repeat;
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: rgba(0, 0, 0, .06);
}

.theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover {
  background: rgba(0, 0, 0, .12);
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  background: #fff;
}

.theme--light.v-text-field--solo-inverted > .v-input__control > .v-input__slot {
  background: rgba(0, 0, 0, .06);
}

.theme--light.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot {
  background: #424242;
}

.theme--light.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input {
  color: #fff;
}

.theme--light.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input::-moz-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme--light.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme--light.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input::placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: rgba(0, 0, 0, .38);
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
  color: rgba(0, 0, 0, .86);
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused).v-input--is-disabled > .v-input__control > .v-input__slot fieldset {
  color: rgba(0, 0, 0, .26);
}

.theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: hsla(0, 0%, 100%, .7);
}

.theme--dark.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
  border-color: #fff;
}

.theme--dark.v-text-field.v-input--is-disabled .v-input__slot:before {
  -o-border-image: repeating-linear-gradient(90deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5) 2px, transparent 0, transparent 4px) 1 repeat;
  border-image: repeating-linear-gradient(90deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5) 2px, transparent 0, transparent 4px) 1 repeat;
}

.theme--dark.v-text-field--filled > .v-input__control > .v-input__slot {
  background: hsla(0, 0%, 100%, .08);
}

.theme--dark.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover {
  background: hsla(0, 0%, 100%, .16);
}

.theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
  background: #1e1e1e;
}

.theme--dark.v-text-field--solo-inverted > .v-input__control > .v-input__slot {
  background: hsla(0, 0%, 100%, .16);
}

.theme--dark.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot {
  background: #fff;
}

.theme--dark.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input {
  color: rgba(0, 0, 0, .87);
}

.theme--dark.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input::-moz-placeholder {
  color: rgba(0, 0, 0, .38);
}

.theme--dark.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input:-ms-input-placeholder {
  color: rgba(0, 0, 0, .38);
}

.theme--dark.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot input::placeholder {
  color: rgba(0, 0, 0, .38);
}

.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: hsla(0, 0%, 100%, .24);
}

.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
  color: #fff;
}

.theme--dark.v-text-field--outlined:not(.v-input--is-focused).v-input--is-disabled > .v-input__control > .v-input__slot fieldset {
  color: hsla(0, 0%, 100%, .16);
}

.v-text-field {
  padding-top: 12px;
  margin-top: 4px;
}

.v-text-field input {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}

.v-text-field .v-input__control, .v-text-field .v-input__slot, .v-text-field fieldset {
  border-radius: inherit;
}

.v-text-field .v-input__control, .v-text-field fieldset {
  color: inherit;
}

.v-text-field.v-input--dense .v-input__append-inner {
  margin-top: 0;
}

.v-text-field .v-input__append-inner {
  align-self: flex-start;
  display: inline-flex;
  margin-top: 4px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
  margin-left: auto;
  padding-left: 4px;
}

.v-application--is-rtl .v-text-field .v-input__append-inner {
  margin-right: auto;
  padding-right: 4px;
}

.v-text-field > .v-input__control > .v-input__slot {
  cursor: text;
}

.v-text-field > .v-input__control > .v-input__slot:after, .v-text-field > .v-input__control > .v-input__slot:before {
  bottom: -1px;
  content: "";
  left: 0;
  position: absolute;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
  width: 100%;
}

.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: inherit;
  border-style: solid;
  border-width: thin 0 0;
}

.v-text-field > .v-input__control > .v-input__slot:after {
  background-color: currentColor;
  border-color: currentcolor;
  border-style: solid;
  border-width: thin 0;
  transform: scaleX(0);
}

.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 56px;
}

.v-text-field--filled.v-input--dense > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense > .v-input__control > .v-input__slot {
  min-height: 52px;
}

.v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot {
  min-height: 40px;
}

.v-text-field--enclosed .v-input__append-inner, .v-text-field--full-width .v-input__append-inner {
  margin-top: 17px;
}

.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo) .v-input__append-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo) .v-input__append-inner {
  margin-top: 14px;
}

.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-inner {
  margin-top: 9px;
}

.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner {
  margin-top: 8px;
}

.v-text-field--outlined .v-text-field__slot, .v-text-field--single-line .v-text-field__slot {
  align-items: center;
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
  padding: 0 12px;
}

.v-text-field--reverse .v-text-field__slot, .v-text-field--reverse > .v-input__control > .v-input__slot {
  flex-direction: row-reverse;
}

.v-text-field--outlined > .v-input__control > .v-input__slot:after, .v-text-field--outlined > .v-input__control > .v-input__slot:before, .v-text-field--rounded > .v-input__control > .v-input__slot:after, .v-text-field--rounded > .v-input__control > .v-input__slot:before, .v-text-field--solo > .v-input__control > .v-input__slot:after, .v-text-field--solo > .v-input__control > .v-input__slot:before {
  display: none;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
  background: transparent;
}

.v-text-field--rounded > .v-input__control > .v-input__slot {
  padding: 0 24px;
}

.v-text-field.v-text-field--solo .v-input__control {
  min-height: 48px;
  padding: 0;
}

.v-text-field.v-text-field--solo .v-input__control input {
  caret-color: auto;
}

.v-text-field.v-text-field--solo.v-input--dense > .v-input__control {
  min-height: 38px;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.v-text-field.v-text-field--solo .v-input__append-inner {
  align-self: center;
  margin-top: 0;
}

.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
  transform: scaleX(1);
}

.v-text-field.v-input--has-state > .v-input__control > .v-input__slot:before {
  border-color: currentColor;
}

.theme--dark.v-input, .theme--dark.v-input input, .theme--dark.v-input textarea {
  color: #fff;
}

.theme--dark.v-input input::-moz-placeholder, .theme--dark.v-input textarea::-moz-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme--dark.v-input input:-ms-input-placeholder, .theme--dark.v-input textarea:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme--dark.v-input input::placeholder, .theme--dark.v-input textarea::placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.v-input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 16px;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
}

.v-input input {
  max-height: 32px;
}

.v-input input:invalid, .v-input textarea:invalid {
  box-shadow: none;
}

.v-input input:active, .v-input input:focus, .v-input textarea:active, .v-input textarea:focus {
  outline: none;
}

.v-input__append-outer .v-icon, .v-input__prepend-outer .v-icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-input__control {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  min-width: 0;
  width: 100%;
}

.v-input__icon {
  align-items: center;
  display: inline-flex;
  height: 24px;
  flex: 1 0 auto;
  justify-content: center;
  min-width: 24px;
  width: 24px;
}

.v-input__slot {
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
  width: 100%;
}

.v-input--dense > .v-input__control > .v-input__slot {
  margin-bottom: 4px;
}

.v-input--is-loading > .v-input__control > .v-input__slot:after, .v-input--is-loading > .v-input__control > .v-input__slot:before {
  display: none;
}

.v-input--hide-details > .v-input__control > .v-input__slot {
  margin-bottom: 0;
}

/* 7a3f40f.css */
.__nuxt-error-page .title {
  font-size: 1.5rem;
  margin-top: 15px;
  color: #47494e;
  margin-bottom: 8px;
}

/* 8aeb812.css */
