.v-application .primary {
  background-color: #f44336 !important;
  border-color: #f44336 !important;
}

.theme--dark.v-application {
  background: #121212;
  color: #fff;
}

.v-application {
  display: flex;
  position: relative;
}

.v-application--wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

@-moz-document url-prefix() {
  @media print {
    .v-application, .v-application--wrap {
      display: block;
    }
  }
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: #272727;
}

.v-sheet.v-app-bar.v-toolbar {
  border-radius: 0;
}

.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.v-app-bar:not([data-booted=true]) {
  transition: none !important;
}

.v-app-bar.v-app-bar--fixed {
  position: fixed;
  top: 0;
  z-index: 5;
}

.theme--dark.v-toolbar.v-sheet {
  background-color: #272727;
}

.v-sheet.v-toolbar {
  border-radius: 0;
}

.v-sheet.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.v-toolbar {
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  transition: transform .2s cubic-bezier(.4, 0, .2, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), left .2s cubic-bezier(.4, 0, .2, 1), right .2s cubic-bezier(.4, 0, .2, 1), box-shadow .28s cubic-bezier(.4, 0, .2, 1), max-width .25s cubic-bezier(.4, 0, .2, 1), width .25s cubic-bezier(.4, 0, .2, 1);
  position: relative;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.v-toolbar .v-input {
  padding-top: 0;
  margin-top: 0;
}

.v-toolbar__content {
  padding: 4px 16px;
}

.v-toolbar__content .v-btn.v-btn--icon.v-size--default {
  height: 48px;
  width: 48px;
}

.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child {
  margin-left: -12px;
}

.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:last-child {
  margin-right: -12px;
}

.v-toolbar__content {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 0;
}

.v-toolbar__title {
  font-size: 1.25rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-toolbar--dense .v-toolbar__content {
  padding-top: 0;
  padding-bottom: 0;
}

.theme--dark.v-sheet {
  background-color: #1e1e1e;
  border-color: #1e1e1e;
  color: #fff;
}

.v-sheet {
  border-radius: 0;
}

.v-sheet:not(.v-sheet--outlined) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

.v-application .grey--text {
  color: #9e9e9e !important;
  caret-color: #9e9e9e !important;
}

.v-application .grey--text.text--darken-1 {
  color: #757575 !important;
  caret-color: #757575 !important;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

main {
  display: block;
}

input {
  border-radius: 0;
}

button, input {
  font: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

[type=button], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button, html [type=button] {
  -webkit-appearance: button;
}

button, input {
  background-color: transparent;
  border-style: none;
}

img {
  border-style: none;
}

html {
  font-size: 20px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.v-application {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.v-application ::-ms-clear, .v-application ::-ms-reveal {
  display: none;
}

@supports (-webkit-touch-callout:none) {
  body {
    cursor: pointer;
  }
}

.v-application .title {
  line-height: 2rem;
  font-family: Roboto, sans-serif !important;
}

.v-application .title {
  font-size: 1.25rem !important;
  font-weight: 500;
  letter-spacing: .0125em !important;
}

.v-application .justify-center {
  justify-content: center !important;
}

.v-application .align-center {
  align-items: center !important;
}

.v-application .mx-3 {
  margin-right: 12px !important;
  margin-left: 12px !important;
}

.v-application .mt-3 {
  margin-top: 12px !important;
}

.v-application .mr-5 {
  margin-right: 20px !important;
}

.v-application .text-uppercase {
  text-transform: uppercase !important;
}

.theme--dark.v-btn {
  color: #fff;
}

.theme--dark.v-btn.v-btn--icon {
  color: #fff;
}

.theme--dark.v-btn:hover:before {
  opacity: .08;
}

.theme--dark.v-btn:focus:before {
  opacity: .24;
}

.v-btn {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: .0892857143em;
  justify-content: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: .0892857143em;
  text-transform: uppercase;
  transition-duration: .28s;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.v-btn.v-size--default, .v-btn.v-size--large {
  font-size: .875rem;
}

.v-btn:before {
  background-color: currentColor;
  border-radius: inherit;
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
}

.v-btn > .v-btn__content .v-icon {
  color: inherit;
}

.v-btn__content {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  transition: inherit;
  transition-property: opacity;
}

.v-btn--icon {
  min-height: 0;
  min-width: 0;
  padding: 0;
}

.v-btn--icon.v-size--default .v-icon {
  height: 24px;
  font-size: 24px;
  width: 24px;
}

.v-btn--icon.v-size--large .v-icon {
  height: 28px;
  font-size: 28px;
  width: 28px;
}

.v-btn--icon.v-size--default {
  height: 36px;
  width: 36px;
}

.v-btn--icon.v-size--large {
  height: 44px;
  width: 44px;
}

.v-btn--round {
  border-radius: 50%;
}

.theme--dark.v-icon {
  color: #fff;
}

.theme--dark.v-icon:focus:after {
  opacity: .24;
}

.v-icon.v-icon {
  align-items: center;
  display: inline-flex;
  font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  transition: .3s cubic-bezier(.25, .8, .5, 1), visibility 0s;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-icon.v-icon:after {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.3);
  width: 100%;
  transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.container.fill-height > .layout {
  height: 100%;
  flex: 1 1 auto;
}

.layout {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}

.flex {
  flex: 1 1 auto;
  max-width: 100%;
}

.spacer {
  flex-grow: 1 !important;
}

.shrink {
  flex-grow: 0 !important;
  flex-shrink: 1 !important;
}

.fill-height {
  height: 100%;
}

.theme--dark.v-list {
  background: #1e1e1e;
  color: #fff;
}

.v-sheet.v-list {
  border-radius: 0;
}

.v-sheet.v-list:not(.v-sheet--outlined) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
}

.v-list {
  display: block;
  padding: 8px 0;
  position: static;
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}

.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #fff;
}

.theme--dark.v-list-item:hover:before {
  opacity: .08;
}

.theme--dark.v-list-item:focus:before {
  opacity: .24;
}

.v-list-item {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 48px;
  outline: none;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
}

.v-list-item:after {
  content: "";
  min-height: inherit;
  font-size: 0;
}

.v-list-item__action {
  align-self: center;
  margin: 12px 0;
}

.v-list-item__avatar {
  align-self: center;
  justify-content: flex-start;
}

.v-list-item__avatar {
  margin-bottom: 8px;
  margin-top: 8px;
}

.v-list-item__content {
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  overflow: hidden;
  padding: 12px 0;
}

.v-list-item__content > * {
  line-height: 1.1;
  flex: 1 0 100%;
}

.v-list-item__content > :not(:last-child) {
  margin-bottom: 2px;
}

.v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child) {
  margin-left: 16px;
}

.v-application--is-ltr .v-list-item__avatar:first-child {
  margin-right: 16px;
}

.v-application--is-ltr .v-list-item__action:first-child {
  margin-right: 32px;
}

.v-list-item__action, .v-list-item__avatar {
  display: inline-flex;
  min-width: 24px;
}

.v-list-item .v-list-item__title {
  line-height: 1.2;
}

.v-list-item__title {
  flex: 1 1 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-list-item__title {
  align-self: center;
  font-size: 1rem;
}

.v-list-item--link {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-list-item--link:before {
  background-color: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
}

.v-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  line-height: normal;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.v-avatar img {
  border-radius: inherit;
  display: inline-flex;
  height: inherit;
  width: inherit;
}

.v-main {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  transition: .2s cubic-bezier(.4, 0, .2, 1);
}

.v-main:not([data-booted=true]) {
  transition: none !important;
}

.v-main__wrap {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}

@-moz-document url-prefix() {
  @media print {
    .v-main {
      display: block;
    }
  }
}

.theme--dark.v-navigation-drawer {
  background-color: #363636;
}

.theme--dark.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
  background-color: hsla(0, 0%, 100%, .12);
}

.v-navigation-drawer {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: auto;
  top: 0;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: transform, visibility, width;
}

.v-navigation-drawer:not([data-booted=true]) {
  transition: none !important;
}

.v-navigation-drawer .v-list:not(.v-select-list) {
  background: inherit;
}

.v-navigation-drawer__border {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
}

.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.v-navigation-drawer--fixed {
  z-index: 6;
}

.v-navigation-drawer--fixed {
  position: fixed;
}

.v-navigation-drawer--close {
  visibility: hidden;
}

.theme--dark.v-subheader {
  color: hsla(0, 0%, 100%, .7);
}

.v-subheader {
  align-items: center;
  display: flex;
  height: 48px;
  font-size: .875rem;
  font-weight: 400;
  padding: 0 16px;
}

.theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: hsla(0, 0%, 100%, .7);
}

.theme--dark.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
  border-color: #fff;
}

.v-text-field {
  padding-top: 12px;
  margin-top: 4px;
}

.v-text-field input {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}

.v-text-field .v-input__control, .v-text-field .v-input__slot {
  border-radius: inherit;
}

.v-text-field .v-input__control {
  color: inherit;
}

.v-text-field .v-input__append-inner {
  align-self: flex-start;
  display: inline-flex;
  margin-top: 4px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
  margin-left: auto;
  padding-left: 4px;
}

.v-text-field > .v-input__control > .v-input__slot {
  cursor: text;
}

.v-text-field > .v-input__control > .v-input__slot:after, .v-text-field > .v-input__control > .v-input__slot:before {
  bottom: -1px;
  content: "";
  left: 0;
  position: absolute;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
  width: 100%;
}

.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: inherit;
  border-style: solid;
  border-width: thin 0 0;
}

.v-text-field > .v-input__control > .v-input__slot:after {
  background-color: currentColor;
  border-color: currentcolor;
  border-style: solid;
  border-width: thin 0;
  transform: scaleX(0);
}

.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.v-text-field--single-line .v-text-field__slot {
  align-items: center;
}

.theme--dark.v-input, .theme--dark.v-input input {
  color: #fff;
}

.theme--dark.v-input input::-moz-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme--dark.v-input input:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.theme--dark.v-input input::placeholder {
  color: hsla(0, 0%, 100%, .5);
}

.v-input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 16px;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
}

.v-input input {
  max-height: 32px;
}

.v-input input:invalid {
  box-shadow: none;
}

.v-input input:active, .v-input input:focus {
  outline: none;
}

.v-input__control {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  min-width: 0;
  width: 100%;
}

.v-input__icon {
  align-items: center;
  display: inline-flex;
  height: 24px;
  flex: 1 0 auto;
  justify-content: center;
  min-width: 24px;
  width: 24px;
}

.v-input__slot {
  align-items: center;
  color: inherit;
  display: flex;
  margin-bottom: 8px;
  min-height: inherit;
  position: relative;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
  width: 100%;
}

.v-input--hide-details > .v-input__control > .v-input__slot {
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1785px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: -12px;
}

.v-tooltip {
  display: none;
}
